<!doctype html>
<html lang="en">
  <head>
    <title>iXCodeSchool</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
  <div class ="master">
        <div class="header">
          <div class="container">
            <div class="row fill-viewport align-items-center">
                <div class="col-lg-8 mx-auto text-center">
                    <h1 class="brand-heading text-center">i_X CodeSchool</h1>
                    <hr>
                    <p class="intro-text">Reimagine.Working</p>
                </div>
            </div>
          </div>
       </div>
        <div class="form-group" "col-lg-8 col-lg-offset-4">
          <div class="container">
            <div class ="row">
              <div class="col-lg-12 text-center">
              <form action="/dynamic" method="post">
                <fieldset>
                  <label for="full_name">Name</label>
                  <input type="text" name="full_name" placeholder="John Smith" id="full_name" required/>
                  <br>
                  <label for="email">Email</label>
                  <input type="email" name="email" input type="text" id="email" required/>
                  <br>
                  <label for="phone">Phone</label>
                  <input type="tel" name="phone" pattern="[0-9]{10}" id ="phone" required/>
                  <br>
                    <input class="btn btn-outline-secondary" type="submit" value="Submit">
                  </a>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
